In [2]:
import pandas as pd
#answer1
ds = pd.Series([4,8,15,16,23,42])
print(ds)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#answer2
var=pd.Series(['string','pwskills',3,'hi',5,'lab','assignment',8,'test',10])
print(var)

0        string
1      pwskills
2             3
3            hi
4             5
5           lab
6    assignment
7             8
8          test
9            10
dtype: object

In [8]:
#answer3
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Answer4:

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

example:creating a simple series

In [9]:
#answer4_example
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
auth_series = pd.Series(author)
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

Answer5

some common functions you can use to manipulate data in a Pandas DataFrame are:
1. read_csv()
2. head()
3. describe()
4. memory_usage()
5. astype()
6. loc[:]
7. to_datetime()
8. value_counts()
9. drop_duplicates()
10. groupby()

Answer6

All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame.

Answer7

In [11]:
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df1=pd.DataFrame(data)
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female